body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0 50px;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    
}

.left-section{
    width: 35%;
}

.right-section {
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    width: 65%;
}

.skills-section {
    display: none;
}

.skills-section.active {
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
}
