body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0 50px;
    height: 100%;
    position: relative;
    overflow: auto;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px;
}

.skills-section {
    display: none;
}

.skills-section.active {
    display: block;
}



/* Tablets */
@media screen and (max-width: 768px) {
    body {
        padding: 0 20px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        grid-template-columns: 1fr;
    }

    .left-section {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-section {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    body {
        padding: 0 10px;
    }

    header {
        align-items: center;
    }

    main {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}
