body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0; 
    padding: 0 50px;
    height: 100%;
    position: relative; 
    overflow: auto;
    /* background-color: black; */

    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
}


video {
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .left-section {
        width: 40%; 
    }

    .right-section {
        width: 60%;
    }
}

.skills-section {
    display: none;
}

.skills-section.active {
    display: block;
}

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
} */
