.profile-card {
    background-color: white;
    width: 290px;
    height: 550px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    position: relative; /* Added for absolute positioning of social links */
}

.profile-pic {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 30px;
}

.first-name,
.last-name {
    font-size: 27px;
    font-weight: bold;
    text-align: left; 
    width: 100%;
    margin-left: 70px;
    margin-bottom: 20px;
}

.first-name {
    color: black;
    margin-top: 20px;
}

.last-name {
    color: #fb7743;
    margin-top: -20px; 
}

.description {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
    text-align: center;
    width: 200px; 
    text-overflow: ellipsis;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 80px; 
}

.social-link {
    margin: 0 10px;
    color: black;
    font-size: 20px;
}

.social-icon {
    width: 30px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .profile-card {
        position: relative;
        margin: 0 auto;
        left: unset;
        top: unset;
        transform: none; 
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .profile-card {
        width: 250px;
        height: 500px;
        margin: 0 auto; 
    }
}
